.card-layout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 6px;
}
img {
  max-width: 100%;
  display: block;
}
.card-list {
  width: 100%;
  max-width: 300px;
  margin: 1rem;
}
.card {
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(208, 30, 30, 0.05), 0 20px 50px 0 rgba(0, 0, 0, .1);
  border-radius: 15px;
  overflow: hidden;
  padding: 1.25rem;
  position: relative;
  transition: 0.15s ease-in;
}
.card:hover, .card:focus-within {
  box-shadow: 0 0 0 2px #16c79a, 0 10px 60px 0 rgba(0, 0, 0, .1);
  
}
.card-image {
  border-radius: 10px;
  max-height: 250px;
  overflow: hidden;
  border: 1px solid black;
}
.card-header {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-header .links {
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.25;
  padding-right: 1rem;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-left: 0.3rem;
}
.card-header .links:hover{
  color: teal;
}
.price_plant{
  font-size: 1.5rem;
  font-weight: 400;
}

.card-footer {
  margin-top: 1rem;
  padding-top: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.btn-buy{
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #3B3B3B;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btn-buy:disabled {
  pointer-events: none;
}

.btn-buy:hover {
  color: #fff;
  background-color:teal;
  transform: translateY(-2px);
}

.btn-buy:active {
  box-shadow: none;
  transform: translateY(0);
}

@media screen and (min-width:250px) and (max-width:480px) {
  .card-layout{
    grid-template-columns: repeat(1,1fr);
  }
}

 /* Tablet View */
 @media screen and (min-width:481px) and (max-width:768px) {
  .card-layout{
    grid-template-columns: repeat(2,1fr);
  }
}
 /* Laptop View */
 @media screen and (min-width:769px) and (max-width:1124px) {
  .card-layout{
    grid-template-columns: repeat(3,1fr);
  }
}