.card-container_hp {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  margin-top: 3rem;
}

/* Style for each main section */
.main_hp {
  flex: 1; /* Flex-grow: 1 to distribute equal width */
  max-width: calc(33.33% - 20px); /* Three cards per row on large screens */
  background-color: #fff;
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.main_hp:hover {
  transform: scale(1.05);
}

/* Styling for images */
.main_hp .img_hp1 {
  display: block;
  margin: 0 auto 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

/* Heading Styles */
h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

/* Text Styles */
p {
  font-size: 16px;
  line-height: 1.4;
  color: #666;
}

/* Media Queries for Responsive Design */
@media (max-width: 1024px) {
  .main_hp {
    max-width: calc(
      50% - 20px
    ); /* Two cards per row on screens smaller than 1024px */
  }
}

@media (max-width: 768px) {
  .main_hp {
    max-width: calc(
      100% - 20px
    ); /* Single card per row on screens smaller than 768px */
  }
}
